$link-color: #2396d8;

.nav-list .nav-list-item .nav-list-expander svg {
    color: white !important;
}
.nav-list .nav-list-item.active > .nav-list-expander svg{
    color: white !important;
}
.nav-list .nav-list-item .nav-list-link {
    color: white !important;
}
.nav-list .nav-list-item .nav-list-expander:hover {
    background-image: linear-gradient(-90deg, #2396d8 0%, rgba(235, 237, 245, 0.2) 80%, rgba(235, 237, 245, 0) 100%) !important;   
}
.nav-list .nav-list-item .nav-list-link:hover, .nav-list .nav-list-item .nav-list-link.active {
    background-image: linear-gradient(-90deg, #2396d8 0%, rgba(235, 237, 245, 0.2) 80%, rgba(235, 237, 245, 0) 100%) !important;
}
.nav-list .nav-list-item .nav-list-link:hover {
    background-image: linear-gradient(-90deg, #2396d8 0%, rgba(235, 237, 245, 0.4) 80%, rgba(235, 237, 245, 0) 100%) !important;
}

.side-bar {
    background-color: none !important;
    background-image: linear-gradient(-9deg, #00a1fc 0%, #005bea 100%);
}

.site-title:hover {
    background-image: linear-gradient(-90deg, #2396d8 0%, rgba(235, 237, 245, 0.2) 80%, rgba(235, 237, 245, 0) 100%) !important;
}

.site-footer {
    display: none !important;
}

.site-button {
    color: white !important;
}

.icon {
    color: white !important;
}